<md-card class="lp-basic">
  <md-toolbar color="primary">Sign in</md-toolbar>
  <md-card-content>
    <form #login="ngForm" (ngSubmit)="signin(login.value, login.valid)" novalidate>

      <md-input-container class="lp-full-width">
        <input
          mdInput
          placeholder="Email"
          value=""
          name="email"
          [(ngModel)]="userLogin.email"
          #email="ngModel"
          minlength="4"
          required
        >
        <small [hidden]="email.valid || (email.pristine && !login.submitted)">
          Title is required (minimum 4 characters).
        </small>
      </md-input-container>

      <md-input-container class="lp-full-width">
        <input
          mdInput
          placeholder="Password"
          name="password"
          [(ngModel)]="userLogin.password"
          #password="ngModel"
          minlength="4"
          required
        >
        <small [hidden]="password.valid || (password.pristine && !login.submitted)">
          Author is required (minimum 8 characters).
        </small>
      </md-input-container>

      <!--Todo Add confirm password-->
      <!--<md-input-container style="width: 100%">-->
      <!--<input-->
      <!--mdInput-->
      <!--placeholder="Platform"-->
      <!--name="platform"-->
      <!--[(ngModel)]="course.platform"-->
      <!--#platform="ngModel"-->
      <!--&gt;-->
      <!--</md-input-container>-->

      <button
        type="submit"
        value="Login"
        md-raised-button
        color="primary"
        [disabled]="!login.valid"
      >
        <md-icon class="md-24">lock_open</md-icon>
        Login
      </button>

    </form>

  </md-card-content>
</md-card>
